* {
    background-color: #F0EFEA;
    justify-content: center;
    font-family: "Courier Prime", monospace;
    padding-left: 50px;
    padding-right: 50px;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.page-title {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.collapsible {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible:hover {
    background-color: #ddd;
}

.texto {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
    * {
        padding-left: 5px;
        padding-right: 5px;
    }

    .page-title {
        font-size: 20px;
    }

    .collapsible {
        font-size: 16px;
    }

    .footer {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
}